* h1, h2, h3, p, ul, li{
color: mintcream;

}


.home{
  background: rgb(138, 0, 0) ;
}


.wrapper{
  box-sizing: border-box;
  max-width: 1138px;
  margin: 0 auto;
  padding: 0 1rem;
}

*{
  font-family: Roboto Mono,Courier,Helvitica,arial,sans-serif;
  line-height: 1.5;
}

.main{
  position:relative;
  display: block;
  max-width: 100%;
  margin: 3.2rem;
}

.col{
  flex-basis: 100%;
  max-width: 100%;
  padding-right: .05rem;
  padding-left: 0.5rem;
}

.view-work{
  position: relative;
}


.proj{
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem;
  margin-top: 4rem;
}

.text-link{
  display: inline-block;
  color: mintcream;
}

